@page
@model RegisterModel
@using ProductionMaster.Utility
@{
    ViewData["Title"] = "Register";
}

<form method="post" autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="py-4 my-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group">
            <div class="col-8 offset-2">
                <div class="card">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-success text-center py-4"><strong>Register a New User</strong></h3>
                        <hr />
                        <div class="form-row py-2">
                            <div class="col">
                                <input type="text" asp-for="Input.FirstName" autocomplete="off" placeholder="First Name" class="form-control" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <input type="text" asp-for="Input.LastName" autocomplete="off" placeholder="Last Name" class="form-control" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="py-2">
                            <input type="email" asp-for="Input.Email" autocomplete="off" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input type="password" asp-for="Input.Password" autocomplete="off" placeholder="Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input type="password" asp-for="Input.ConfirmPassword" autocomplete="off" placeholder="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input type="radio" name="rdUserRole" value="@SD.AdminRole" /> @SD.AdminRole
                            <br />
                            <input type="radio" name="rdUserRole" value="@SD.SchedulerRole" /> @SD.SchedulerRole
                            <br />
                            <input type="radio" name="rdUserRole" value="@SD.SupervisorRole" /> @SD.SupervisorRole
                            <br />
                            <input type="radio" name="rdUserRole" value="@SD.MachineOperatorRole" /> @SD.MachineOperatorRole
                            <br />
                            <input type="radio" name="rdUserRole" value="@SD.NestingRole" /> @SD.NestingRole
                        </div>
                        <div class="py-2">
                            <button type="submit" class="btn btn-success" form-control">Register</button>
                        </div>
                        <hr />
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
